ul {
  padding: 20px;
}

li {
margin: 20px;
text-align: center;
}

a {
  color: red;
  font-family: 'Spirax', cursive;
  text-decoration: none;
  font-size: 60px;

}

h1 {
  font-style: italic;
  margin-left: auto;
  /* Comment anything to help me with whatever */
}

h3 {
  font-weight: 300;
}

span {
  color: orange;
}

p {
  text-align: right;
}
